
@{
    ViewBag.Title = "公司信息";
    Layout = "~/Views/Shared/_MNav1Layout.cshtml";
}


<style>
    .btn {
        width: 40vw;
        left: 7vw;
        top: 48vw;
        height: 41vw;
        /*border: 1px solid red;*/
    }

    .btn1 {
    }

    .btn2 {     
        top: 48vw;
        left: 53vw;
    }

    .btn3 {
        top: 95vw;
        left: 7vw;
    }

    .btn4 {
         top: 95vw;
        left: 53vw;
    }
</style>
<div class="wrap">
    <img src="~/Content/Getinge/images/company-main.jpg" class="w-img" />
    <a href="CompanyInfo" class="abs btn btn1"></a>
    @*<a href="CompanyGs" class="abs btn btn2"></a>*@
    <a href="CompanyLs" class="abs btn btn3"></a>
    <a href="CompanyLaw" class="abs btn btn4"></a>
</div>
