
@{
    ViewBag.Title = "公司历史";
    Layout = "~/Views/Shared/_MNav1Layout.cshtml";
}


<style>
    .btn {
        width: 45vw;
        left: 4vw;
        top: 69vw;
        height: 45vw;
        /*border: 1px solid red;*/
    }

    .btn1 {
    }

    .btn2 {
        top: 115vw;
        left: 50vw;
    }
</style>
<div class="wrap">
    <img src="~/Content/Getinge/images/company-ls.jpg" class="w-img" />
    @*<a href="javascript:;" class="abs btn btn1"></a>
    <a href="javascript:;" class="abs btn btn2"></a>*@
</div>


