
@{
    ViewBag.Title = "科室目录";
    Layout = "~/Views/Shared/_MNav1Layout.cshtml";
}

<style>
    .btn {
        width: 26.5vw;
        left: 6.6vw;
        top: 63vw;
        height: 21vw;
        /*border: 1px solid red;*/
    }

    .btn1, .btn2, .btn3 {
        left: 6.7vw;
    }


    .btn4, .btn5, .btn6 {
        top: 87vw;
    }

    .btn7, .btn8, .btn9 {
        top: 111vw;
    }

    .btn1, .btn4, .btn7 {
    }

    .btn2, .btn5, .btn8 {
        left: 37vw;
    }

    .btn3, .btn6, .btn9 {
        left: 66.5vw;
    }
</style>
<div class="wrap">
    <img src="~/Content/Getinge/images/dept-main.jpg" class="w-img" />
    <div class="box">
        @*<a href="Dept?id=1" class="abs btn btn1"></a>
        <a href="Dept?id=2" class="abs btn btn2"></a>
        <a href="Dept?id=3" class="abs btn btn3"></a>
        <a href="Dept?id=4" class="abs btn btn4"></a>
        <a href="Dept?id=5" class="abs btn btn5"></a>
        <a href="Dept?id=6" class="abs btn btn6"></a>
        <a href="Dept?id=7" class="abs btn btn7"></a>
        <a href="Dept?id=8" class="abs btn btn8"></a>
        <a href="Dept?id=9" class="abs btn btn9"></a>*@
    </div>
</div>

