
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/_MNav1Layout.cshtml";
}
<style>
    .btn {
        width: 45vw;
        left: 4vw;
        top: 69vw;
        height: 45vw;
        /*border: 1px solid red;*/
    }

    .btn1 {
    }

    .btn2 {
        top: 114.5vw;
        left: 51vw;
    }
</style>
<div class="wrap">
    <img src="~/Content/Getinge/images/main.jpg" class="w-img" />
    <a href="company" class="abs btn btn1"></a>
    <a href="product" class="abs btn btn2"></a>
</div>