
@{
    ViewBag.Title = "Nav1";
    Layout = "~/Views/Shared/_MNav1Layout.cshtml";
}

@*<main role="main">
    <section class="item">
        <h1>Drawer Top with fixed navbar</h1>
    </section>
</main>*@
<div class="wrap">
    <img src="~/Content/Getinge/images/nav/nav.png" class="w-img" />   
    <img src="~/Content/Getinge/images/nav/nav.png" class="w-img" />    
</div>
