
@{
    ViewBag.Title = "产品信息";
    Layout = "~/Views/Shared/_MNav1Layout.cshtml";
}

<style>
    .btn {
        width: 85vw;
        left: 8vw;
        height: 9.5vw;
        /*border: 1px solid red;*/
    }

    .btn1 {
        top: 124vw;
    }

    .btn2 {
        top: 135vw;
    }
</style>
<div class="wrap">
    <img src="~/Content/Getinge/images/product.jpg" class="w-img" />
    <a href="ProductMain" class="abs btn btn1"></a>
    <a href="DeptMain" class="abs btn btn2"></a>
    @*<a href="javascript:;" class="abs btn btn3"></a>*@
</div>

