
@{
    ViewBag.Title = "ProductSeach";
    Layout = "~/Views/Shared/_MPageLayout.cshtml";
}
<style>

</style>
<h2>ProductSeach</h2>
<style>
    .seach-box {
        top:10vw;
        width:100%;
    }
</style>
<div class="seach-box abs">
    @{Html.RenderPartial("_MPSearchPartial"); }
</div>

