
@{
    ViewBag.Title = "ProductInfo2";
    Layout = "~/Views/Shared/_MPageLayout.cshtml";
}
<link href="http://web-pf.oss-cn-shanghai.aliyuncs.com/layui-v2.2.3/css/layui.css" rel="stylesheet" />
<script src="http://web-pf.oss-cn-shanghai.aliyuncs.com/layui-v2.2.3/layui.js"></script>
<link href="~/Content/Getinge/css/product-info.css" rel="stylesheet" />

<div class="wrap">
    <div class="head">
        <img src="~/Content/Getinge/images/logo.png" class="head-logo" />
    </div>
    <div class="content">
        <div class="title">
            Flow-i高端麻醉工作站
        </div>
        <div class="min-title">
            产品介绍
        </div>
        <div class="img-box">
            <img src="~/Content/Getinge/images/demo.jpg" class="w-img" />
        </div>
        <div class="word-box">
            专为包装领域的工作而开发； 用于分拣、检测和包装各种手术器械。GETINGE 系列工作台在设计时考虑了灵活性、人性化和功能。
            光滑的边缘、坚固的不锈钢框架和精细的工作台面之间相互作用，提高了清洁度，并可以防尘。
            包装台可以单独使用，固定或可调节高度，或者可以配备我们用于独立配置工作台的系列附件。
        </div>
    </div>
</div>