
@{
    ViewBag.Title = "SW外科系统";
    Layout = "~/Views/Shared/_MNav1Layout.cshtml";
}

<style>
    .btn {
        width: 80vw;
        left: 8vw;
        top: 25vw;
        height: 9.5vw;
        border: 1px solid red;
    }

    .btn1 {
    }

    .btn2 {
        top: 50vw;     
    }

    .btn3 {
        top: 75vw;       
    }
</style>
<div class="wrap">
    <img src="~/Content/Getinge/images/product-sw.jpg" class="w-img" />
    @*<a href="" class="abs btn btn1"></a>
    <a href="" class="abs btn btn2"></a>
    <a href="" class="abs btn btn3"></a>*@
</div>

