
@{
    ViewBag.Title = "文献资料";
    Layout = "~/Views/Shared/_MPageLayout.cshtml";
}
<style>
    .btn {
        width: 10vw;
        left: 25vw;
        height: 12vw;
        /*border: 1px solid red;*/
    }

    .btn1 {
        top: 133vw;
    }

    .btn2 {
        top: 167vw;
    }

    .btn3 {
        top: 201vw;
    }
  
</style>
<div class="wrap">
    <img src="~/Content/Ecmo/images/zl.jpg" class="w-img" />
    <a href="https://www.elso.org/Publications/RedBook5thEdition.aspx" class="btn abs btn1"></a>
    <a href="https://www.nichd.nih.gov/publications/pubs/Pages/ecmo_report.aspx" class="btn abs btn2"></a>
    <a href="https://ccforum.biomedcentral.com/articles/10.1186/cc10490" class="btn abs btn3"></a>
</div>

